<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe Systems Incorporated
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
        <sly data-sly-call="${clientlib.js @ categories='granite.csrf.standalone'}"/>
        <sly data-sly-call="${clientlib.js @ categories='dod.base'}"/>
        <sly data-sly-call="${clientlib.css @ categories='dod.base'}"/>
        <sly data-sly-call="${clientlib.js @ categories='dod.bootstrap'}"/>
        <sly data-sly-call="${clientlib.css @ categories='dod.bootstrap'}"/>
    </sly>
    <title>Admin Portal</title>
    <div class="container-fluid">
        <div>
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">Home</a></li>
			  <li role="presentation" class=""><a href="ReportPage.html">Report Dashboard</a></li>
            </ul>
        </div>
        <a href="/assets.html/content/dam" style="float: right; padding: 13px; font-size: 12pt;">AEM Asset Home</a>
        <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3>Sponsor Page</h3>
                        <p>Add, Edit and/or Remove Sponsor Details</p>
                        <p><a href="/content/dod_admin/SponsorPage.html" class="btn btn-primary" role="button">Sponsor Details</a></p>
                      </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3>Supplier Page</h3>
                        <p>Add, Edit and/or Remove Supplier Details</p>
                        <p><a href="/content/dod_admin/SupplierPage.html" class="btn btn-primary" role="button">Supplier Details</a></p>
                      </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3>NEWS Page</h3>
                        <p>Add, Edit and/or Remove NEWS Details</p>
                        <p><a href="/content/dod_admin/NewsPage.html" class="btn btn-primary" role="button">NEWS Details</a></p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <button type="button" class="btn btn-info" onclick="syncDetails()">Sync Sponsor/Supplier Details</button>
  		<!--<button type="button" class="btn btn-info" onclick="replicate('all')">Publish All Content</button>-->
        <a type="button" class="btn btn-info" href="/content/dod_admin/unpublishedData.html">List Unpublished Content</a>
		<br/><br/>
        <div id="successMsg" class="alert alert-success fade in hide" style="width: 20%">
            <strong>Success!</strong> <span id="successText"></span>
        </div>

        <div id="errorMsg" class="alert alert-danger fade in hide" style="width: 20%">
            <strong>Error!</strong> <span id="errorText"></span>
        </div>
   </div>