<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe Systems Incorporated
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='granite.csrf.standalone'}"/>
    <sly data-sly-call="${clientlib.js @ categories='dod.base'}"/>
    <sly data-sly-call="${clientlib.css @ categories='dod.base'}"/>
    <sly data-sly-call="${clientlib.js @ categories='dod.bootstrap'}"/>
    <sly data-sly-call="${clientlib.css @ categories='dod.bootstrap'}"/>
</sly>
<title>Admin Portal</title>
<div class="container-fluid">
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class=""><a href="HomePage.html">Home</a></li>
            <li role="presentation" class="active"><a href="#">Report Dashboard</a></li>
        </ul>
    </div>
    <a href="/assets.html/content/dam" style="float: right; padding: 13px; font-size: 12pt;">AEM Asset Home</a>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Offline CDs</h3>
                            <p>Download the latest forms archive for the production of offline CDs.</p>
                            <p><a href="/content/dod_admin/ReportDownloadPage.html" class="btn btn-primary" role="button">Offline CDs</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Metadata Download Reports</h3>
                            <p>&nbsp;</p>
                            <p><a href="/dod/getAssetBreakdown?assetType=all&report=true" class="btn btn-primary" role="button">Download Form Metadata by Sponsor</a></p>
                            <p><a href="/dod/getSponsorReport" class="btn btn-primary" role="button">Download Sponsor Metadata</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Asset Breakdown Report</h3>
                            <p>Shows a report based on sponsor.</p>
                            <p><a href="/content/dod_admin/AssetReport.html" class="btn btn-primary" role="button">View Report</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Usage Report</h3>
                            <p>Shows a report based on page hits.</p>
                            <!--
                          <p><a href="/content/dod_admin/UsageReport.html" class="btn btn-primary btn-disabled" role="button">View Report</a></p>
                          -->
                            <p>This functionality is temporarily disabled.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>